# Folder view configuration files
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
.Trash

# Application specific files
node_modules
.npm*
bower_components/*
.codekit-cache
.sass-cache
.gems

bundle
.bundle/**
!.bundle/config
#/.gem/**
*.lock

*.sublime-workspace

#Custom
.idea/
*.log

*.map

composer.lock
.composer

.tmp
.bin/composer
dist
